
<div class="ml-1"></div>
<p class= "question"> <%=@question  %></p>
<p>- You</p>
<div>
<p class="bg-warning border-right-5 border-dark col-4"> <%= @answer %> </p>
<p> Ton coach </p>
<%= link_to "ask a new question", "/ask" %>
